<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="application_name" source="spring.application.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS}[%thread]%highlight(%-5level) %cyan(%logger{36}) %magenta(%replace( traceId=%mdc{trace_id}){'^ traceId=$', ''}) - %msg{}%n
            </Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>